<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>

</head>
<body>
    <h1>Добро пожаловать на главную страницу</h1>

    <nav>
        <ul>
            <li><a href="{% url 'post_list' %}">Посты</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'login' %}">Вход</a></li>
            <li><a href="{% url 'user_list' %}">Пользователи</a></li>
        </ul>
    </nav>
</body>
</html>
